<h3> Main Page - All Topics Listed, God willing </h3>

<% posts.forEach(function(post, i) {  %>
	<div class="post">
		<div class="post-topic-top">
		<h4>Topic: <%= post.topic %> </h4>
		</div>
		
		<h5> by <a href=#> <%=post.author%></a> </h5>
		<div class="needs-padding-left">
			<p> <%= post.body %> </p>
			<p> <%= post.date %> </p>
		</div>
		
		<form 	class="view-button"
				method="get"
				action="/posts/<%=post._id%>" >
	
				<input	type="submit"	
						value="View Post" >
		</form>
		<a href="/posts/comment" class="btn btn-primary  mainbutton"> Comment on this topic</a>
		
		<a href= "/posts/<%=post._id%>/edit" class="btn btn-primary editbutton"> Click to edit post</a>

		<form 	class="delete-button"
				method="post"
				action="/posts/<%=post._id%>?_method=DELETE" >
				<input	type="submit"	
						value="Delete Post" >
		</form>



	</div>
<% }) %>