	<div class="single-post">
		<h4>Topic: <%= post.topic %> </h4>		
		<h5> Posted by: <%= post.author %> </h5>
		<div class="needs-padding-left">
			<p> <%= post.body %> </p>
			<p> <%= post.date %> </p>
		
		<% posts.forEach(function(post, i) {  %
			<p> View Comments: <%= post.comment %> </p>	
		<% }) %>

			<a href= "/posts/<%=post._id%>/edit" 
			class="btn btn-default editbutton want-inline"> 
			Edit post</a>

			<form 	class="delete-button"
				method="post"
				action="/posts/<%=post._id%>?_method=DELETE" >
				<input	type="submit"	
						value="Delete Post" >
			</form>

			<form action="/posts/<%=post._id%>">
				<input type="submit" value="Upvote">
			</form>

		</div>
	</div>